.bg-gray-100 {
    background: #F8F9FA;
}

.bg-gray-200 {
    background: #F7F7F7;
}

.bg-gray-300 {
    background: #EEEEEE;
}

.bg-gray-400 {
    background: #E8E8DB;
}

.bg-gray-900 {
    background: #494846;
}